@{
    Layout = "_LayoutAdmin";
} 

<div class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
    

 @*    <div class="col-lg-5 col-12">
        @Html.ActionLink("Click here", // <-- Link text
        "CreateUser", // <-- Action Method Name
        "Account", // <-- Controller Name
        null, // <-- Route value
        null // <-- htmlArguments
        )

    </div> *@
</div>

